<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button type="button" class="btn btn-primary">Học ngay</button>
        </div>
        <div class="col-lg-9">
            <h5>{{course.name}}</h5>
            <iframe width="516px" height="300px" src="https://www.youtube.com/embed/{{course.videoId}}?si=7HRPb5RaiwWdu64P" frameborder="0" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>